
.vs/Plantify/config/applicationhost.config
.vs/Plantify/v16/.suo
Plantify/bin/Debug/netcoreapp3.1/Plantify.dll
Plantify/bin/Debug/netcoreapp3.1/Plantify.exe
Plantify/bin/Debug/netcoreapp3.1/Plantify.pdb
Plantify/bin/Debug/netcoreapp3.1/Plantify.runtimeconfig.dev.json
Plantify/bin/Debug/netcoreapp3.1/Plantify.Views.dll
Plantify/bin/Debug/netcoreapp3.1/Plantify.Views.pdb
Plantify/obj/Debug/netcoreapp3.1/Plantify.assets.cache
Plantify/obj/Debug/netcoreapp3.1/Plantify.csproj.CoreCompileInputs.cache
Plantify/obj/Debug/netcoreapp3.1/Plantify.csproj.FileListAbsolute.txt
Plantify/obj/Debug/netcoreapp3.1/Plantify.csprojAssemblyReference.cache
Plantify/obj/Debug/netcoreapp3.1/Plantify.dll
Plantify/obj/Debug/netcoreapp3.1/Plantify.exe
Plantify/obj/Debug/netcoreapp3.1/Plantify.pdb
Plantify/obj/Debug/netcoreapp3.1/Plantify.Views.dll
Plantify/obj/Debug/netcoreapp3.1/Plantify.Views.pdb
Plantify/obj/Debug/netcoreapp3.1/Razor/_ViewImports.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/_ViewStart.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/_ViewStart.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/Home/Index.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/Products/Create.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/Products/Delete.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/Products/Details.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/Products/Edit.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/Products/Index.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/Shared/_Layout.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Views/Cart/Index.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Views/Catalogue/Index.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Views/Customer/Index.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Views/Invoice/Index.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Views/Order/Checkout.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Views/Order/Completed.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Views/ProductPage/Index.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_AddToCartButton.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Components/CartSummary/Default.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Components/NavigationMenu/Default.cshtml.g.cs
Plantify/obj/Debug/netcoreapp3.1/Razor/Views/Shared/View.cshtml.g.cs
Plantify/obj/Plantify.csproj.nuget.dgspec.json
Plantify/obj/Plantify.csproj.nuget.g.props
Plantify/obj/project.assets.json
Plantify/obj/project.nuget.cache
