@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Plantify.Models.Product

<!doctype html>
<html lang="en">

<head>
    <title>Plantify</title>
</head>
<body>
    <div class="product-img-price">
        <div class="product-image">
            <img src="~/images/@Model.ImageUrl" alt="" />
        </div>
        <div class="product-price">
            <h1></h1>
            <p></p>
            <div class="quantity">
                <p></p>
                <input />
            </div>
            <button></button>
        </div>
    </div>
</body>
</html>
