@using Plantify.Models;
@using Plantify.Infrastructure;
@model ProductsListViewModel
@{
    ViewBag.Title = "Index";

}

<!doctype html>
<html lang="en">

<head>
    <title>Plantify</title>
</head>



<body>

    @*@if (Model.Products.OfType<Book>().ToList().Count > 0)
        {

            <h2>The Books</h2>

            @foreach (Book book in Model.Products.OfType<Book>().ToList())
            {
                @await Html.PartialAsync("_ProductSummaryBook", book)
            }


            <br />
            <br />
        }
        @if (Model.Products.OfType<MusicCD>().ToList().Count > 0)
        {

            <h2>The Music CDs</h2>

            @foreach (MusicCD cd in Model.Products.OfType<MusicCD>().ToList())
            {
                @await Html.PartialAsync("_ProductSummaryMusicCD", cd)
            }


            <br />
            <br />
        }
        @if (Model.Products.OfType<Movie>().ToList().Count > 0)
        {

            <h2>The Movies</h2>

            @foreach (Movie movie in Model.Products.OfType<Movie>().ToList())
            {
                @await Html.PartialAsync("_ProductSummaryMovie", movie)

            }
        }
         @if (Model.Products.OfType<Movie>().ToList().Count > 0)
        {

            <h2>The Movies</h2>

            @foreach (Movie movie in Model.Products.OfType<Movie>().ToList())
            {
                @await Html.PartialAsync("_ProductSummaryMovie", movie)

            }
        }*@

    
    <div class="landingSection"><img src="~/images/hero.png" class="heroImg" />
                                <div class="landingText">
                                    <h1>Service for home plants</h1>
                                    <p>Simple, sophisticated and effortlessly elegant. Our Ecosphere Terrariums and bottle gardens combine an attractive light fitting with natural beauty, such as perennial grasses, or a seasonal succulent on preserved reindeer moss. </p>
                                    <button class="btn shopNow">Shop now</button>
                                </div>
                                
    </div>

    <div class="productSection">
        <h2>@Model.CurrentCategory</h2>
        <div class="productsDiv">
            @foreach (Product product in Model.Products.OfType<Product>().ToList())
            {
                @await Html.PartialAsync("View", product)

            }
        </div>

     
    </div>


     

</body>
</html>
