@model Plantify.Models.Product

<div class="row">
 
    <div class="productImageDiv">
        <img src="~/images/@Model.ImageUrl" alt="@Model.ProductName" style="width:100px" />
    </div>
    <div class="productDiv">
        <strong>@Model.ProductName<br /></strong>
        <weak>@Model.Price</weak><br />
        <p>@Model.Description</p><br />
        <a href="" class="readMore">Read more ></a>
    </div>

    @await Html.PartialAsync("_AddToCartButton", (Product)Model)
</div>

