@model Plantify.Models.Product

<div class="row">
    <div class="col-md-2">
        <img src="~/images/@Model.ImageUrl" alt="@Model.ProductName" style="width:100px" />
    </div>
    <div class="col-md-4">
        <strong>Product:</strong> @Model.ProductName<br />
        <strong>Price:</strong> @Model.Price<br />
        <strong>Description:</strong> @Model.Description<br />
    </div>

    @await Html.PartialAsync("_AddToCartButton", (Product)Model)
</div>

