.productsDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 56px;
    grid-row-gap: 72px;
}

.productSection {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.productsDiv {

}

.landingSection {
    max-width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 664px;
}

.heroImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productSection .heroTxt {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 81px;
    color: #FFFFFF;
    font-family: 'Oxygen', sans-serif;
}

.productSection .pTxt {
    font-family: 'Hind-Madurai', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    width: 624px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.btn {
    background: #007F2D;
    border-radius: 8px;
    padding: 16px 64px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    outline: none !important;
}

    .btn:hover {
        background: #30BA00;
    }


.btn-pagination {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 56px;
}
    .btn-pagination a {
        background: #007F2D;
        border-radius: 8px;
        padding: 16px 24px;
        border: none;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        outline: none !important;
        margin-left: 24px;
        width: auto;
        text-align: center;
    }

    .btn-pagination a:hover {
        background: #ACCCAB;
    }

.landingSection .btn {
}

body {
    margin: 0;
}

.productImageDiv {
    border: 1px solid #ACCCAB;
    box-sizing: border-box;
    border-radius: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

    .productImageDiv img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 208px !important;
    }

.productDiv strong {
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.productDiv weak {
    font-family: Oxygen;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #727272;
}

.productDiv p {
    font-family: 'Hind-Madurai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    max-height: 80px;
    overflow: hidden;
}

th{
    font-family: 'Hind-Madurai', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 8px;
    padding-top: 24px !important;
}
td{
    font-family: 'Hind-Madurai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 8px;
}

.control-label{
    margin-right: 24px;
}
.form-group{
    margin-bottom: 8px;
}
.paddingbot {
    padding-bottom: 24px;
}

.landingText {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 98px;
}

.card-text .btn {
    width: 100%;
    margin-top: 16px;
}

.readMore {
    text-decoration: none;
    color: #007F2D;
    font-family: 'Hind-Madurai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.btn-small {
    padding-left: 24px !important;
 padding-right: 24px !important;
 
}

.oxygen-bold {
    font-family: 'Oxygen', sans-serif;
    font-weight: 800;
}

.container-fluid {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12%;
}

.max-width {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto
}

.product-img-price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 72px;
    grid-row-gap: 0px;
}

.border-around {
    border: 1px solid #ACCCAB;
    border-radius: 16px;
    padding: 32px;
}

    .border-around img {
        display: flex;
        margin: auto
    }

.product-image {
    margin: auto;
    width: 504px;
    height: 468px
}

    .product-image img {
        width: 408px;
        height: auto;
    }

.product-price {
    width: 448px;
    height: 468px
}

    .product-price h1 {
        font-size: 16px;
    }

    .product-price p {
        font-size: 24px;
    }

.quantity {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}

.quantity p {
    font-size: 16px;
}

.quantity input {
    font-size: 16px;
    width: 47px;
    height: 50px;
    border: none;
}

.input-group {
    border: 1px solid #ACCCAB;
    border-radius: 16px;
    padding: 9px;
    width: 88px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    margin-left: auto;
    margin-right: 0;
}

.input-number {
    text-align: center
}

.arrows {
    display: flex;
    flex-direction: column
}

#down {
    transform: rotate(180deg);
}

.description {
    margin-top: 72px;
    margin-bottom: 88px;
    font-family: ''Hind-Madurai', sans-serif', sans-serif;
    font-size: 16px
}

h2 {
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
}

.recommended-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 56px;
    grid-row-gap: 0px;
    margin-top: 64px;
    height: 400px
}

.product {
    width: 304px;
}

.product-name {
    font-size: 20px
}

.product-price {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-size: 20px
}

footer {
    background: #013400;
    padding: 71px 0 51px 0;
    margin-top: 124px;
}

.footer-content {
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    margin: auto;
}

.margin-left {
    margin-left: -30px;
    margin-right: 30px;
    font-family: ''Hind-Madurai', sans-serif', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.2px;
    width: 271px
}

h3 {
    color: #E8CF4F;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
}

footer p {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    color: white;
    margin: 0px;
    cursor: pointer;
}


.social-media-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    width: 80px;
}

.copyright {
    margin-top: 119px;
    text-align: center;
    font-size: 15px;
    font-family: 'Oxygen', sans-serif;
    cursor: auto
}

nav {
    background: #F2F2F2;
    padding: 16px 0
}

.nav-content {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 0px;
}
.nav-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    width: 60px;
    margin-left: auto;
}

.wrap {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: 'Hind-Madurai', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

label {
    font-family: 'Hind-Madurai', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

input {
    border: 1px solid #ACCCAB;
    border-radius: 4px;
    padding: 8px;
}

th {
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
}

tr {

    font-family: 'Hind-Madurai', sans-serif, sans-serif;
    font-size: 16px;
}

dd {
    font-family: 'Hind-Madurai', sans-serif, sans-serif;
    font-size: 16px;
}

dt {
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    padding: 16px;
    font-weight: 700;
}

hr {
    background: #ACCCAB;
}

a {
    text-decoration: none;
    color: #007F2D;
    font-family: 'Hind-Madurai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

h4 {
    color: #CD0000;
    font-family: 'Hind-Madurai', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.btnDelete {
    background: #CD0000;
    border-radius: 8px;
    padding: 16px 64px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    outline: none !important;
}

.btnDelete:hover {
        background: #FF0000;
    }