<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/custom.css" rel="stylesheet" />
<title>Plantify</title>
</head>
<body>

    <nav>
        <div class="nav-content">
            <a href="/">
                <img src="~/images/logo-colorful.svg" alt="Colorful Plantify Logo" />
            </a>
            <div class="nav-icons">
                <a href="/Admin/Products">
                    <img src="~/images/account.svg" alt="Icon of a person" />
                </a>
                <div class="cart">
                    <a href="/Cart?returnUrl=%2F">
                        <img src="~/images/cart.svg" alt="Icon of the cart" />
                    </a>
                </div>
            </div>
        </div>
    </nav>


    <div class="container-fluid" style="margin-top:4em;">
        @RenderBody()
    </div>
</body>
</html>
