<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/custom.css" rel="stylesheet" />
<title>Plantify</title>
</head>
<body>

    <nav>
        <div class="nav-content">
            <a href="/">
                <img src="~/images/logo-colorful.svg" alt="Colorful Plantify Logo" />
            </a>
            <div class="nav-icons">
                <a href="/Admin/Products">
                    <img src="~/images/account.svg" alt="Icon of a person" />
                </a>
                <div class="cart">
                    <a href="/Cart?returnUrl=%2F">
                        <img src="~/images/cart.svg" alt="Icon of the cart" />
                    </a>
                </div>
            </div>
        </div>
    </nav>


    <div class="container-fluid" style="margin-top:4em;">
        @RenderBody()
    </div>

    <footer>
        <div class="footer-content">
            <img src="~/images/logo.svg" alt="Plantify Logo" />
            <p class="margin-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            <div class="service">
                <h3>Services</h3>
                <p>Email Marketing</p>
                <br />
                <p>Campaigns</p>
            </div>
            <div class="about">
                <h3>About</h3>
                <p>Our story</p>
                <br />
                <p>Benefits</p>
            </div>
            <div class="social-media">
                <h3>Follow Us</h3>
                <div class="social-media-grid">
                    <img src="~/images/facebook.svg" alt="Facebook Logo" />
                    <img src="~/images/twitter.svg" alt="Instagram Logo" />
                    <img src="~/images/instagram.svg" alt="Twitter Logo" />
                </div>
            </div>
        </div>
        <p class="copyright">Copyright © 2020. Plantify. All rights reserved.</p>
    </footer>

</body>
</html>
